<html>
	<head>

		<link rel="stylesheet" href="/stylesheets/jquery.Jcrop.css" type="text/css" />
		<link rel="stylesheet" href="/stylesheets/demos.css" type="text/css" />
		
	</head>

	<body>
		<div id="outer">
		<div class="jcExample">
		<div class="article">
      
      <h2>Here is your cropped image</h2>
      
		
      <img src="<%= @cropped_image %>" />
      
      
      <p>
      <a href="/">Try again</a>
      </p>
      
		</div>
		</div>
		</div>
	</body>
</html>